<% include partials/header %>
	<div class=.container>
		<h1>Website Template Showcase</h1>
		<h3>View different website design examples below</h3>
		<div class="websites">
			<button><a href="/template">Go to first template</a>></button>
		</div>
	</div>
<% include partials/footer %>